@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@keyframes hacky175 {
  0% {
    stroke-dashoffset: -175%;
 }
  50% {
    stroke-dashoffset: 0;
 }
  100% {
    stroke-dashoffset: 175%;
 }
}
@keyframes drawPath {
  to {
    stroke-dashoffset: -100;
 }
}
body {
  background-color: #212945;
}
.stage {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
}
svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.hack {
  fill: #fff;
}
.hack {
  stroke: #1b98d5;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke-width: 40;
  animation: hacky175 10s linear infinite;
}
.path-white {
  fill: #fff;
}
.path-red {
  fill: #e05246;
}
.hack-6 {
  display: none;
}
.hack-svg {
  max-height: 400px;
}
.chevy {
  fill: #fff;
  stroke-dasharray: 100%;
  stroke-dashoffset: 10%;
  stroke-width: 20;
  animation: chevvy 5s linear infinite;
}
@keyframes chevvy {
  0% {
    stroke-dashoffset: -100%;
 }
  50% {
    stroke-dashoffset: 0;
 }
  100% {
    stroke-dashoffset: 100%;
 }
}
